/* Global styling */

@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Merriweather');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Variable declarations */
  --main-bg-color: #fff4e6;
  --alt-bg-color: #553c34;
  --main-txt-color: #3c2f2f;
  --alt-txt-color: #fff4e6;
  --impact-color: rgb(138, 46, 38);
  --fixed-header-height: 100px;
}

body {
  background-color: var(--alt-txt-color);
  color: var(--main-txt-color);
  font-family: 'Merriweather', sans-serif;
  letter-spacing: 2px;
  line-height: 1.6;
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Class and individual element styling */

header {
  background-color: var(--alt-bg-color);
  position: fixed;
  text-align: justify;
  height: var(--fixed-header-height);
  width: 100%;
  z-index: 1000;
}

header::after {
  /* Pseudo element forces a line-break to justify content as desired. */
  content: '';
  display: inline-block;
  width: 100%;
}

#header-img,
nav {
  vertical-align: middle;
  display: inline-block;
}

#header-img {
  height: 70px;
  margin: 15px;
}

#nav-bar ul {
  list-style: none;
  display: flex;
}

#nav-bar ul li {
  padding: 10px 20px;
  color: var(--alt-txt-color);
  font-size: 1.25rem;
  font-weight: bold;
}

main {
  padding-top: calc(var(--fixed-header-height) + 20px);
  margin-bottom: 50px;
  text-align: center;
}

h1 {
  color: var(--impact-color);
  font-family: 'Bungee Shade', cursive;
  font-size: 15vw;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
  border-bottom: 2px solid var(--impact-color);
  width: 90vw;
  margin: 0 auto;
}

section {
  padding: 10px;
  margin: 40px 10px;
}

section h2 {
  margin-bottom: 20px;
}

#what-is-it p {
  max-width: 800px;
  margin: 20px auto;
}

#video {
  /* Video aspect ratio = 560/315 = 1.778 */
  width: 90vw;
  height: 45vw;
  margin: 10px auto;
}

#flex-container {
  display: flex;
  justify-content: space-evenly;
}

.user-testimonial {
  width: 25vw;
  max-width: 200px;
}

.circle-wrapper {
  width: 100%;
  height: 25vw;
  max-height: 200px;
  margin-bottom: 15px;
}

.circle-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid var(--main-bg-color);
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.3);
}

#where-to-buy div {
  max-width: 800px;
  margin: 0 auto;
}

#form {
  margin: 10px;
}

input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
  font-size: 1em;
}

input[type="submit"] {
  width: 100%;
  max-width: 150px;
  height: 37px;
  margin: 15px;
  border: 0;
  border-radius: 4px;
  font-size: 1em;
  color: var(--alt-txt-color);
  background-color: var(--impact-color);
}

footer {
  width: 100%;
  background-color: var(--alt-bg-color);
  color: var(--alt-txt-color);
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 80%;
}

footer a {
  text-decoration: underline;
  text-decoration-style: dotted;
}

/* Media queries */

@media (max-width: 750px) {
  :root {
    --fixed-header-height: 185px;
  }
  #header-img {
    display: block;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
  }
  nav {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  #nav-bar ul {
    flex-direction: column;
  }
  #nav-bar ul li {
    font-size: 1rem;
    padding: 5px;
  }
  h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  #flex-container {
    flex-direction: column;
    text-align: center;
  }
  .user-testimonial {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .circle-wrapper {
    height: 90vw;
  }
}

/* For debugging only: */

/*
* {
  outline: 2px dotted red;
}

* * {
  outline: 2px dotted green;
}

* * * {
  outline: 2px dotted orange;
}

* * * * {
  outline: 2px dotted blue;
}

* * * * * {
  outline: 1px solid red;
}

* * * * * * {
  outline: 1px solid green;
}

* * * * * * * {
  outline: 1px solid orange;
}

* * * * * * * * {
  outline: 1px solid blue;
}
*/